<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>resto-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>vente_c</display-name>
    <servlet-name>vente_c</servlet-name>
    <servlet-class>com.vente_c.vente_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vente_c</servlet-name>
    <url-pattern>/vente_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenteC</display-name>
    <servlet-name>VenteC</servlet-name>
    <servlet-class>com.servlet.VenteC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenteC</servlet-name>
    <url-pattern>/VenteC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>venteC</display-name>
    <servlet-name>venteC</servlet-name>
    <servlet-class>controller.venteC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>venteC</servlet-name>
    <url-pattern>/venteC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVenteC</display-name>
    <servlet-name>ServletVenteC</servlet-name>
    <servlet-class>controller.ServletVenteC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVenteC</servlet-name>
    <url-pattern>/ServletVenteC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVenteP</display-name>
    <servlet-name>ServletVenteP</servlet-name>
    <servlet-class>controller.ServletVenteP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVenteP</servlet-name>
    <url-pattern>/ServletVenteP</url-pattern>
  </servlet-mapping>
</web-app>